# Exclude the entire minecraft folder by default
*

# Git
!.gitignore

# Configs
!config
!config/**
!defaultconfigs/
!options.txt

## Crash Assistant
config/crash_assistant/lang/*
config/crash_assistant/crash_assistant_localization_overrides/*

## JEI
config/jei/world/*

# Pakku
!.pakku/
!pakku.json
!pakku-lock.json

# Dev Tools
!.scripts/
!.scripts/*
!_desiredMods.txt